.flex {
  display: flex !important;
}

.flex-column {
  display: flex !important;
  flex-direction: column !important;
}

.flex-grow {
  flex-grow: 1;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.gap {
  gap: 4px;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: start;
}

.align-end {
  align-items: end;
}

.text-align-center {
  text-align: center;
}

.text-align-end {
  text-align: end;
}

.overflow-y-auto {
  overflow-y: auto;
}

.ah-50 {
  height: 50vh;
}

.ah-75 {
  height: 75vh;
}
