.Button:hover,
.Button > span:hover {
  cursor: pointer;
}

.Button.Button_disabled:hover,
.Button.Button_disabled > span:hover {
  cursor: not-allowed;
}

.Button_text {
  padding: 0.5rem 1rem;
}

.Button_text.Button_disabled {
  color: lightgrey;
  box-shadow: none;
}

.Button_flat {
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: 2px 2px lightgray;
}

.Button_flat.Button_disabled {
  color: grey;
  background-color: lightgrey;
  box-shadow: none;
}
