@import './base.css';

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
}

span {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
}

span.Info {
  font-size: 16pt;
}
span.Label {
  font-size: 18pt;
}
.KeyCard {
  height: 80px;
  width: 200px;
}
.PresCard {
  height: 450px;
  width: 255px;
}
.InfoCard {
  height: 500px;
}

@media (max-height: 899px) or (max-width: 1899px) {
  span.Info {
    font-size: 8pt;
  }
  span.Label {
    font-size: 8pt;
  }
  .KeyCard {
    height: 40px;
    width: 100px;
  }
  .PresCard {
    height: 150px;
    width: 85px;
  }
  .InfoCard {
    height: 200px;
  }
}

.PresCard {
  margin-right: 6px;
}
.PresCard:last-child {
  margin-right: 0px;
}

.selected {
  border: 1px solid black;
}

.FullScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: wheat;
}

@media (min-height: 500px) and (min-width: 1000px) {
  .FullScreen > div > .MiddleScale {
    transform: translate(-50%, -50%) scale(1.5) translate(33.33%, 33.33%);
  }
}

@media (min-height: 1000px) and (min-width: 500px) {
  .FullScreen > div > .MiddleScale {
    transform: translate(-50%, -50%) scale(1.5) translate(33.33%, 33.33%);
  }
}

@media (min-height: 900px) and (min-width: 1900px) {
  .FullScreen > div > .MiddleScale {
    transform: inherit;
  }
}

@media (min-height: 1900px) and (min-width: 900px) {
  .FullScreen > div > .MiddleScale {
    transform: inherit;
  }
}
