@import './base.css';

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
}

span {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
}

.PresCard {
  margin-right: 8px;
}

.PresCard:last-child {
  margin-right: 0px;
}

.selected {
  border: 1px solid black !important;
  padding: 1px !important;
}

.unselected {
  padding: 2px !important;
}

.FullScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: wheat;
}


span.Info {
  font-size: 16pt;
}
span.Label {
  font-size: 18pt;
}
.KeyCard {
  height: 80px;
  width: 200px;
}
.PresCard {
  height: 450px;
  width: 255px;
}
.InfoCard {
  height: 500px;
}

/*
  Mobile
*/

.Mobile span.Info {
  font-size: 8pt;
}
.Mobile span.Label {
  font-size: 8pt;
}
.Mobile .KeyCard {
  height: 40px;
  width: 100px;
}
.Mobile .PresCard {
  height: 150px;
  width: 85px;
}
.Mobile .InfoCard {
  height: 200px;
}

.Pad .FullScreen > div > .MiddleScale {
  transform: translate(-50%, -50%) scale(1.5) translate(33.33%, 33.33%);
}
