.InputWrapper {
  display: flex;
  padding: 4px;
}

.Input {
  padding-inline: 8px;
  flex-grow: 1;

  border: none;
  outline: none;
  background-color: #ebebeb;
  border-bottom: 1px solid black;
}

.Input:focus {
  background-color: lightgray;
  border-bottom: 2px solid black;
}
